[bot-config]
#
# Replace the placeholders with your information.  Do not use quotes.
#
#   discord_auth_token   - this is the bot token generated via the Discord development console.
#   hass_ip_address      - IP address of your home assistant instance.  This is used to turn on the light by your 3d printer
#   hass_api_key         - API Key to use the REST API for your Home assistant instance
#   octoprint_ip_address - IP Address of you OctoPrint (or OctoPi) host.  Used to get 3D printer stats.  
#
discord_auth_token = ENTERYOURDISCORDAUTHTOKENHERE
hass_ip_address = IPADDRESSOFHOMEASSISTANTINSTANCE
hass_api_key = HASSAPIKEY
octoprint_ip_address = OCTOPRINTIPADDRESS

