[bot-config]
#
# Replace the placeholders with your information.  Do not use quotes.
#
#   discord_auth_token   - this is the bot token generated via the Discord development console.
#   bot_command_prefix   - The prefix used identify commands for this bot
#   hass_url             - URL to your home assistant instance.  This is used to turn on the light by your 3d printer
#   hass_token           - Long Lived Access Token used to authenticate with the REST API for your Home assistant instance
#   hass_light           - Entity name of the light you want to control
#   octoprint_ip_address - IP Address of you OctoPrint (or OctoPi) host.  Used to get 3D printer stats.  
#   statping_url      - Server hostname of the StatPing instance we will be querying w/ the REST API
#   statping_api_key     - API Key for Statping to query for service status
#
discord_auth_token = <Discord Auth Token>
bot_command_prefix = <!/$/#/etc>
hass_url = <URL to HomeAssistant>
hass_token = <HomeAssistant Long Lived Access Token>
hass_light = <Entity_ID of the light @ your printer>
octoprint_ip_address = <OctoPrint IP Address>
statping_enable = <trues/false>
statping_url = <Statping URL>
statping_api_key = <Statping API Key>
mmr_checker_enable = <true/false>
mmr_checker_interval = <number of seconds between checks>
mmr_api_url = <MMR API URL>
