[Unit]
Description=r0b3bot
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/screen -L -dmS pi  python /path/to/r0b3bot.py

[Install]
WantedBy=multi-user.target